.list-first{
    background-color: #fff0f0;
    border-top: 1px solid red;
    padding-top: 10px;
    margin-bottom: 10px;
}
.list-last{
    background-color: #f9f9f9;
    border: 1px solid red;
    margin-bottom: 5px;
}